.infoContainer {
  // position: absolute;
  background-color: var(--color-white);
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  margin-bottom: -120px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.4);
}
.container {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: auto;
  gap: 10px;
}

@media (min-width: 1024px) {
  .infoContainer {
    position: relative;
    width: 80%;
    left: 0px;
    right: 0px;
    bottom: 0;
    transform: translateY(50%);
    margin-bottom: -20px;
    padding: 30px;
  }
  .container {
    grid-template-rows: auto;
    grid-template-columns: repeat(4, auto);
    gap: 20px;
  }
}
